<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Give to Excel (or other files) some REST (JAX-RS)</h3>
  </div>
  <div class="panel-body">
    A common requirement for business application is to provide to the users the possibility to save the data to a document and in many cases this should be a MS Excel document.
    <br>
    With Java we can easily produce an Excel compatible document using the <a href="https://poi.apache.org/" target="_blank">Apache POI</a> library.
    <br>But how to transfer this data from the Application Server to the WebClient without creating temporary files?
    <br>
    With JAX-RS we can easily transfer a stream of bytes (<a href="https://docs.oracle.com/javase/8/docs/api/java/io/ByteArrayInputStream.html" target="_blank">ByteArrayInputStream</a> ) via REST service or Servlet to our JS Client
    <br>
    In the JS Client (Angular) you have to store this document in a blog and trigger a download.
  </div>
  <div class="panel-footer">
    <div class="row"></div>
    Example : <a routerLink="/conferences">Conferences</a>
    <div style="float:right; font-size: 80%; position: relative; top:10px"><a href="https://github.com/marco76/java-demo/tree/master/server/src/main/java/io/javademo/examples/jpa/conference" target="_blank">GitHub Java</a>
      / <a href="https://github.com/marco76/java-demo/tree/master/client/src/src/app/jpa/conference/conference-table" target="_blank">GitHub Javascript</a>
    </div>

  </div>
</div>


<div class="col-md-6">
  <section> <h3>REST</h3></section>
  <section [innerHTML]="code" highlight-js-content=".highlight"></section>
</div>
<div class="col-md-6">
  <section> <h3>Angular</h3></section>
  <section [innerHTML]="codeRest" highlight-js-content=".highlight"></section>
</div>
