<menu-header></menu-header>
<div class="container-fluid">
  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="false">
      <li role="menuitem"><a class="dropdown-item" routerLink="/bv">Simple validation</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/bv-date"><strong>@Past, @Future</strong>: Dates</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/bv-repeatable"><strong>@Size, groups</strong>: Repeatable and groups</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/bv-list-email"><strong>List<@Email>, @Size</strong>: How to validate a list?</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/bv-positive-negative-zero"><strong>@Positive, @Negative</strong>: Numbers and the Zero ???</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="http://beanvalidation.org" target="_blank">website</a></li>
      <li role="menuitem"><a class="dropdown-item" href="http://hibernate.org/validator" target="_blank">RI - Hibernate Validator</a></li>
      <li role="menuitem"><a class="dropdown-item" href="https://jcp.org/en/jsr/detail?id=380" target="_blank">JSR 380</a></li>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<hr>
<app-footer></app-footer>

