<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <span routerLink="/">Java EE 8 Demo</span>
      </div>
         <ul class="nav navbar-nav">
           <li> <a routerLink="/">Home</a></li>

      <li class="btn-group" dropdown placement="bottom right">
        <a dropdownToggle  role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          Bean Validation<span class="caret"></span>
        </a>
        <ul dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem"><a class="dropdown-item" routerLink="/bv">Simple validation</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/bv-date">Dates</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/bv-repeatable">Repeatable</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/bv-list-email">List validation</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="http://beanvalidation.org" target="_blank">website</a></li>
          <li role="menuitem"><a class="dropdown-item" href="http://http://hibernate.org/validator" target="_blank">RI</a></li>
          <li role="menuitem"><a class="dropdown-item" href=" https://jcp.org/en/jsr/detail?id=380" target="_blank">JSR 380</a></li>

        </ul>
      </li>
           <li class="btn-group" dropdown placement="bottom right">
             <a dropdownToggle  role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
               JAX-RS<span class="caret"></span>
             </a>

           </li>
           <li class="btn-group" dropdown placement="bottom right">
             <a dropdownToggle  role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
               Extra<span class="caret"></span>
             </a>
             <ul dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
               <li role="menuitem"><a class="dropdown-item" routerLink="/extra-cache">@Schedule, file caching example</a></li>
             </ul>

               </li>
         </ul>

    </div>
  </div>

</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
