<div style="text-align: center; margin-top: 2em">
  <a href="http://twitter.com/marcomolteni" target="_blank"><i class="fa fa-twitter fa-2x menu-icon" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/javaee/" target="_blank"><i class="fa fa-linkedin fa-2x menu-icon" aria-hidden="true"></i></a>
  <a href="https://www.xing.com/profile/Marco_Molteni" target="_blank"> <i class="fa fa-xing fa-2x menu-icon" aria-hidden="true"></i></a>
  <a href="http://javaee.ch" target="_blank"> <i class="fa fa-wordpress fa-2x menu-icon" aria-hidden="true"></i></a>
  <a href="https://github.com/marco76/java-demo"><i class="fa fa-github fa-2x menu-icon" aria-hidden="true"></i></a>
</div>
<div class="name" style="text-align: center; margin-top:1em">
  Developed by Marco Molteni
</div>
