<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">News!</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-4"><span class="label label-info">Java EE 8</span>
      <br>
      <!--   <blockquote class="twitter-tweet" data-lang="en"><p lang="pt" dir="ltr">JavaEE 8 and Angular 4 Demo<a href="https://twitter.com/hashtag/JavaEE?src=hash">#JavaEE</a> <a href="https://twitter.com/hashtag/JavaEE8?src=hash">#JavaEE8</a> <a href="https://twitter.com/hashtag/angular4?src=hash">#angular4</a> <a href="https://twitter.com/hashtag/Java?src=hash">#Java</a> <a href="https://twitter.com/Java_EE">@Java_EE</a> <a href="https://twitter.com/hashtag/Angular?src=hash">#Angular</a> <a href="https://t.co/eu3h3DGejs">https://t.co/eu3h3DGejs</a> <a href="https://t.co/9y2yY01uGD">https://t.co/9y2yY01uGD</a></p>&mdash; André Sept (@andre_sept) <a href="https://twitter.com/andre_sept/status/852582411762270210">April 13, 2017</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a
        href="https://twitter.com/hashtag/JavaEE?src=hash">#JavaEE</a> 8 and <a
        href="https://twitter.com/hashtag/REST?src=hash">#REST</a> demo for young developers <br><br>Get a full app in
        15 lines<a href="https://twitter.com/marcomolteni">@marcomolteni</a> <a href="https://t.co/Ocqo6qUmnF">https://t.co/Ocqo6qUmnF</a>
        <a href="https://t.co/ZNHD0sG3il">pic.twitter.com/ZNHD0sG3il</a></p>&mdash; Java (@java) <a
        href="https://twitter.com/java/status/860556449595834368">May 5, 2017</a></blockquote>
    </div>
    <div class="col-md-4"><span class="label label-info">Java EE 8</span>
      <blockquote class="twitter-tweet" data-lang="de"><p lang="en" dir="ltr">Should Java EE be renamed? If so, what
        should the new name look like?</p>&mdash; Reza Rahman (@reza_rahman) <a
        href="https://twitter.com/reza_rahman/status/900155178497826816">23. August 2017</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4">
      <span class="label label-info">Java</span>
      <blockquote class="twitter-tweet" data-lang="de"><p lang="en" dir="ltr">Great <a
        href="https://twitter.com/Java_EE">@Java_EE</a> 8 Security API example/demo. <a
        href="https://twitter.com/github">@GitHub</a> repository at <a href="https://t.co/vpDYd0J11R">https://t.co/vpDYd0J11R</a>
        <a href="https://t.co/1twsx1HKJQ">https://t.co/1twsx1HKJQ</a></p>&mdash; David Heffelfinger (@ensode) <a
        href="https://twitter.com/ensode/status/897609482620084224">16. August 2017</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

