section {
  max-width: 500px;
  margin: 10px auto;
}
section div {
  max-width: 400px;
  word-wrap: break-word;
  margin-bottom: 1px;
  line-height: 50px;
}

section div p {
  margin-bottom: 0px;
}

.clear {
  clear: both;
}
.from-server {
  padding: 5px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  font-size: 12px;
}

.text-message-server{
  padding: 1em;
  background: #0B93F6;
  margin: 1em;
  color: white;

}

.text-message-client{
  padding: 1em;
  background: #E5E5EA;
  margin: 1em;
  color: black;

}

.from-user {
  padding: 5px 10px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  font-size: 12px;
}

.gradient {
  background-color: #FDFDEF;
  border: 1px solid #EBE9C5;
  border-radius: 4px ;
}


