<div class="panel panel-primary" >
  <div class="panel-heading">
    <div class="panel-title">Quiz! CDI hello!</div>
  </div>
  <div class="panel-body">
    This quiz has been proposed by @DaschnerS (Sebastian Daschner) on <a href="https://twitter.com/java/status/861974549717504001" target="_blank">twitter.</a> I didn't see the solution yet, but my guess is supported by this implementation &#9786;
    <br>
    <div>Note that we are building the JSON answer with <a href="https://jsonp.java.net/" target="_blank">JSON Processing (JSR-353)</a>
      we don't need any external library.</div>
    <br>
    <form class="form-horizontal" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <div class="col-sm-offset-0 col-sm-10">
        <button type="submit" class="btn btn-default" [disabled]="serverResponse">Reveal the mistery!</button>
      </div>
    </div>
    </form>
  </div>
  <div class="panel-footer">
    <div class="row"></div>
  </div>
</div>
<div class="col-md-6">
  <div>
    <h3 class>Quiz</h3>
  </div>
<div [innerHTML]="code" highlight-js-content=".highlight"></div>
 </div>
<div class="col-md-6">
<div>
  <h3 class>Response (from the server)</h3>
</div>
<div *ngIf="serverResponse" >
  <div [innerHTML]="serverResponse" highlight-js-content=".highlight"></div>
  <div [innerHTML]="answer" highlight-js-content=".highlight"></div>
</div>
</div>
