<p><a href="https://www.npmjs.com/package/@molteni/av-components" target="_blank"> <mat-icon>open_in_new</mat-icon> NPMjs components</a></p>

<p><a href="https://stackblitz.com/edit/angular-paq8lk" target="_blank"><mat-icon>open_in_new</mat-icon> Full code and playground on Stackblitz</a></p>
<p><a href="https://github.com/marco76/av-components" target="_blank"><mat-icon>open_in_new</mat-icon> GitHub</a></p>

<h1>Autocomplete</h1>
<h3>Simple example</h3>

<p>This example shows how easy is to show a list of objects from an Array / ArrayObservable and retrieve the object / id choosen by the user using the AvAutocomplete component</p>


<av-autocomplete style="width:400px;"
                 [selectableObjects]="selectable"
                 [properties]='{placeholder: "Letter a"}'
                 (changeText)="onTextChanged($event)"
                 (selectItem)="onSelected($event)"></av-autocomplete>
<p *ngIf="simpleSelected">You selected: {{getJSON(simpleSelected)}}</p>

<h3>Dynamic result (e.g. REST and DB)</h3>
<p>
  When our data source is a REST service and the list has to be dynamically updated we can bind the input text to a method using (changeText) and retrieve the new list from the backend.
</p>

<av-autocomplete style="width:400px;"
                 [selectableObjects]="selectableDynamic"
                 [properties]='{placeholder: "another example", cancelIcon: "build"}'
                 (changeText)="onTextChangedDynamic($event)"
                 (selectItem)="onDynamicSelected($event)"
></av-autocomplete>
<p *ngIf="dynamicSelected">You selected: {{getJSON(dynamicSelected)}}</p>


<h3>Current features</h3>
<ul>
  <li>Material design</li>
  <li>Simple label and value or objects</li>
  <li>Icon editable</li>
  <li>Placeholder editable</li>
  <li>Easy to integrate with dynamic lists</li>
</ul>

<h2>Chip</h2>
