<nav class="navbar navbar-default" style="cursor: default;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false"
              [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapse()" [ngClass]="{'collapsed': isCollapsed}">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand">
        <span routerLink="/">Java / Angular / Cloud Demo</span> <span class="label label-warning btn-group">beta</span>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1" [ngClass]="{'in': !isCollapsed}">
      <ul class="nav navbar-nav">
        <li> <a routerLink="/"><span class="glyphicon glyphicon-home" title = "Home"> </span></a></li>

        <li class="btn-group" dropdown placement="bottom right">
          <a dropdownToggle  role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
             (click)="selectMenu(null)"
             routerLink="/conferences">
            <span class="glyphicon glyphicon-calendar"></span> Conferences</a>
        </li>
        <li class="btn-group" dropdown placement="bottom right">
          <a dropdownToggle role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
             routerLink="cat/spring">
          Spring
          </a>
        </li>
        <li class="btn-group" dropdown placement="bottom right">
          <a dropdownToggle
             role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
             routerLink="cat/javaee">
          Java EE
          </a>
        </li>
        <li class="btn-group" dropdown placement="bottom right">
          <a dropdownToggle role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
             routerLink="cat/angular">
          Angular
          </a>

        </li>
        <li class="btn-group" dropdown placement="bottom right">
          <a dropdownToggle role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
             routerLink="cat/cloud">
          Cloud <span class="label label-info">Soon</span>
          </a>
        </li>

        <li class="btn-group" dropdown placement="bottom right" >
          <a dropdownToggle  role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
            IoT <span class="label label-info">Soon</span>
          </a>
        </li>

        <li class="btn-group" dropdown placement="bottom right" >
          <a dropdownToggle  role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
            Mobile (PWA) <span class="label label-info">Soon</span>
          </a>
        </li>
<!--
        <li class="btn-group" dropdown placement="bottom right">
          <a dropdownToggle  role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-code" aria-hidden="true"></i> Angular<span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem"><a class="dropdown-item" routerLink="/flatmap"><strong>RxJS - FlatMap</strong>: Create a dynamic table from a JSON string</a></li>
          </ul>

        </li>
        -->


        <!-- security -->
<!--
        <li class="btn-group" dropdown placement="bottom right">
          <a dropdownToggle *ngIf="!authenticationService.authenticated" role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" routerLink="/security">
            <span class="glyphicon glyphicon-user"></span> Security<span class="caret"></span>
          </a>
          <a dropdownToggle *ngIf="authenticationService.authenticated" role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" routerLink="/security">
            <span class="glyphicon glyphicon-user"> </span> {{authenticationService.username}}<span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li *ngIf="!authenticationService.authenticated" role="menuitem"><a class="dropdown-item" routerLink="/security"><strong>New Security</strong>: Log In</a></li>
            <li *ngIf="authenticationService.authenticated" role="menuitem"><a class="dropdown-item" routerLink="/security"><strong>New Security</strong>: Log In page</a></li>
            <li *ngIf="authenticationService.authenticated" role="menuitem"><a class="dropdown-item" (click)="authenticationService.logout()">Log Out</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="https://github.com/javaee-security-spec" target="_blank">RI - Soteria</a></li>
            <li role="menuitem"><a class="dropdown-item" href="https://jcp.org/en/jsr/detail?id=375" target="_blank">JSR 375</a></li>
          </ul></li>

          -->
      </ul>
    </div>
  </div>
</nav>
