.container {
  display: flex;
}
.container-column {
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.mat-form-field {
  height: 80px!important;
}

.mat-form-field {
  width: 500px!important;
}
