<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Latest articles</h3>
  </div>
    <div class="panel-body">
      <app-last-articles></app-last-articles>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Java, Angular and the Cloud</h3>
    </div>
    <div class="panel-body">
      <p>
        With this demo I want to show some features of my favorites technologies.
        Java (Spring, Java EE) for the backend, Angular and TypeScript as frontend and Google Cloud (Kubernetes,
        Firebase) for the deployment.
      </p>
      <p>
        The first version of this demo was oriented towards the new features of Java EE 8. Java EE won’t exist anymore
        with this name and organization, at this time no company supports the specifications of the platform. The Java
        EE companies are nowadays more interested to sell cloud services than application’s servers licenses.
      </p>
      <p>
        The new version of this demo is more consistent with the enterprise development and the new trends. It will
        continuously integrate the new technologies that succeed on the market. The new demo will integrate:
      </p>
      <ul>
        <li>Microservices (Spring Boot, Servless functions)</li>
        <li>Cloud deployment (Kubernetes, Buckets)</li>
        <li>Web and Mobile (PWA) applications with Angular</li>
      </ul>

      <div>
        <div>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/javademo-166015.appspot.com/o/img%2Fdemo.png?alt=media&token=a2280c20-395a-457a-a6f6-1bf1c7e737d2">
        </div>
      </div>
    </div>
  </div>

  <app-twitter-news></app-twitter-news>
