<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">News!</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-4"><span class="label label-info">Java EE 8</span>
    <br>
   <!--   <blockquote class="twitter-tweet" data-lang="en"><p lang="pt" dir="ltr">JavaEE 8 and Angular 4 Demo<a href="https://twitter.com/hashtag/JavaEE?src=hash">#JavaEE</a> <a href="https://twitter.com/hashtag/JavaEE8?src=hash">#JavaEE8</a> <a href="https://twitter.com/hashtag/angular4?src=hash">#angular4</a> <a href="https://twitter.com/hashtag/Java?src=hash">#Java</a> <a href="https://twitter.com/Java_EE">@Java_EE</a> <a href="https://twitter.com/hashtag/Angular?src=hash">#Angular</a> <a href="https://t.co/eu3h3DGejs">https://t.co/eu3h3DGejs</a> <a href="https://t.co/9y2yY01uGD">https://t.co/9y2yY01uGD</a></p>&mdash; André Sept (@andre_sept) <a href="https://twitter.com/andre_sept/status/852582411762270210">April 13, 2017</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
      <blockquote class="twitter-tweet"  data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/JavaEE?src=hash">#JavaEE</a> 8 and <a href="https://twitter.com/hashtag/REST?src=hash">#REST</a> demo for young developers <br><br>Get a full app in 15 lines<a href="https://twitter.com/marcomolteni">@marcomolteni</a> <a href="https://t.co/Ocqo6qUmnF">https://t.co/Ocqo6qUmnF</a> <a href="https://t.co/ZNHD0sG3il">pic.twitter.com/ZNHD0sG3il</a></p>&mdash; Java (@java) <a href="https://twitter.com/java/status/860556449595834368">May 5, 2017</a></blockquote>
    </div>
    <div class="col-md-4"><span class="label label-info">Java EE 8</span>
      <blockquote class="twitter-tweet"  data-lang="en"><p lang="ht" dir="ltr"><a href="https://twitter.com/hashtag/JavaEE?src=hash">#JavaEE</a> 8 - April recap <br><br>- JavaServer Faces 2.3 <br>- Servlet 4.0<br>- JAX-RS 2.1<a href="https://twitter.com/delabassee">@delabassee</a> <br><br> <a href="https://t.co/l9PFbjygSG">https://t.co/l9PFbjygSG</a> <a href="https://t.co/QpvTXoQbaM">pic.twitter.com/QpvTXoQbaM</a></p>&mdash; Java (@java) <a href="https://twitter.com/java/status/859858855412592642">May 3, 2017</a></blockquote>
      </div>
    <div class="col-md-4">
      <span class="label label-info">Java</span>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The <a href="https://twitter.com/hashtag/Java?src=hash">#Java</a> Community Process (JCP) is now on GitHub. <a href="https://twitter.com/jcp_org">@jcp_org</a> <a href="https://t.co/1eUBxLgLMu">https://t.co/1eUBxLgLMu</a> <a href="https://t.co/BAtaZL2Frd">pic.twitter.com/BAtaZL2Frd</a></p>&mdash; Java (@java) <a href="https://twitter.com/java/status/862384701784313856">May 10, 2017</a></blockquote></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Java EE 8 and Angular 4 (cli) demo</h3>
  </div>
  <div class="panel-body">
    In this demo we show some of the new features of Java EE 8 and how these can be integrated with a JavaScript frontend.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Why Angular as frontend and not a Java view framework?</h3>
  </div>
  <div class="panel-body">
    There are other demos that cover JSF. Our goal is to show how Java EE is a perfect and modern companion to modern JavaScript frameworks.
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Java EE 8 status</h3>
  </div>
  <div class="panel-body">
    Java EE 8 is currently under heavy review and development. The release of the final specification is annouced for
    <b>July 2017</b>.
    This demo is based on alpha releases of the Application servers and we will add the singles components when available.
    The goal is only to show the new features of the platform and not to build a production ready application.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How can I contribute?</h3>
  </div>
  <div class="panel-body">
    You can improve the code, improve the layout, send pull requests or ask for new features here: <a href="https://github.com/marco76/java-demo" target="_blank">GitHub</a>
    If you want to contribute to the development of Java and be part of his history you can join the <a href="https://jcp.org/en/participation/overview">Java Community Process!</a>
  </div>
</div>

<app-jsr-status></app-jsr-status>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
