<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Java EE 8 and Angular 4 (cli) demo</h3>
  </div>
  <div class="panel-body">
    In this demo we show some of the new features of Java EE 8 and how these can be integrated with a JavaScript frontend.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Why Angular as frontend and not a Java view framework?</h3>
  </div>
  <div class="panel-body">
    There are other demos that cover JSF [link]. Our goal is to show how Java EE is a perfect and modern companion to modern JavaScript frameworks.
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Java EE 8 status</h3>
  </div>
  <div class="panel-body">
    Java EE 8 is currently under heavy review and development. The release of the final specification is annouced for
    <b>July 2017</b>.
    This demo is based on alpha releases of the Application servers and single component.
    The goal is only to show the new features of the platform and not to build a production ready application.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What is new in Java EE 8?</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <th>JSR</th>
        <th>Name</th>
        <th>Status</th>
        <th>New / Updated</th>
        <th>Demo examples</th>
        <th>Website / RI</th>
        <th>JSR Link</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>366</td>
        <td>Java EE 8</td>
        <td></td>
        <td>Updated</td>
        <td></td>
        <td></td>
        <td><a href="https://jcp.org/en/jsr/detail?id=366" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
      </tr>

      <tr>
         <td>380</td>
         <td>Bean Validation 2.0</td>
         <td></td>
         <td>Updated</td>
         <td></td>
        <td><a href="http://beanvalidation.org" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
        <td><a href="https://jcp.org/en/jsr/detail?id=380" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
       </tr>
       <tr>
         <td>369</td>
         <td>Servlet 4.0</td>
         <td></td>
         <td>Updated</td>
         <td></td>
         <td></td>
         <td><a href="https://jcp.org/en/jsr/detail?id=369" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
       </tr>
       <tr>
         <td>372</td>
         <td>JSF 2.3</td>
         <td></td>
         <td>Updated</td>
         <td>Not covered</td>
         <td></td>
         <td><a href="https://jcp.org/en/jsr/detail?id=372" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
       </tr>
       <tr>
         <td>365</td>
         <td>CDI 2.0</td>
         <td></td>
         <td>Updated</td>
         <td></td>
         <td><a href="http://www.cdi-spec.org" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
         <td><a href="https://jcp.org/en/jsr/detail?id=365" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
       </tr>
       <tr>
         <td>370</td>
         <td>JAX-RS 2.1</td>
         <td></td>
         <td>Updated</td>
         <td></td>
         <td><a href="https://jax-rs-spec.java.net" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
         <td><a href="https://jcp.org/en/jsr/detail?id=370" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
       </tr>
       <tr>
         <td>374</td>
         <td>JSON-P 1.1</td>
         <td></td>
         <td>Updated</td>
         <td></td>
         <td><a href="https://jsonp.java.net" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
         <td><a href="https://jcp.org/en/jsr/detail?id=374" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
       </tr>
       <tr>
         <td>367</td>
         <td>JSON-B 1.0</td>
         <td></td>
         <td>New</td>
         <td></td>
         <td><a href="https://json-b.net" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
         <td><a href="https://jcp.org/en/jsr/detail?id=367" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
       </tr>
       <tr>
         <td>375</td>
         <td>Security 1.0</td>
         <td></td>
         <td>New</td>
         <td></td>
         <td><a href="https://github.com/javaee-security-spec/soteria" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
         <td><a href="https://jcp.org/en/jsr/detail?id=375" target="_blank"><span class="glyphicon glyphicon-globe"></span></a></td>
       </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How can I contribute?</h3>
  </div>
  <div class="panel-body">
    You can improve the code, improve the layout, send pull requests or ask for new features here [github link]
  </div>
</div>

